.grid{
    
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: blue;
}

.grid div {

    width: 100px;
    height: 100px;
    background-color: yellow;
    font-size: 50px;
    text-align: center;
    font-weight: bold;

}
#teste{
    align-items:  center;
    text-align: center;
    border: 2px solid rgb(134, 115, 115);
    background-color: rgb(55, 117, 128);
}
.score-container{
    align-items: center;
}